ul.banyan-tree {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 16px;

    li.banyan-common {
        list-style: none;
    }

    ul.banyan-common {
        padding-left: 1.2em;
    }

    .banyan-toggler {
        width: 1.2em;
        display: inline-block;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: none;
        }
   }

   .banyan-element {
       margin-left: 1.2em;
       cursor: pointer;
   }

   .banyan-folder > .banyan-element {
       margin-left: 0;
   }

   .banyan-selected > .banyan-element {
       background-color: #97BDD6;
   }
}

.banyan-placeholder {
    border: dashed 2px #ccc;
    margin-left: 1.5em;
}
