ul.banyan-tree {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 16px;

    li.banyan-common {
        list-style: none;
    }

    ul.banyan-common {
        padding-left: 2em;
    }

    .banyan-toggler {
        display: inline-block;
        text-decoration: none;
        margin-left: 8px;

        &:hover,
        &:focus {
            text-decoration: none;
        }
   }

   .banyan-element {
       cursor: pointer;
       margin-top: 4px;
       margin-bottom: 4px;
       background-color: #ddd;
       padding: 8px;
   }

   .banyan-selected > .banyan-element {
       background-color: #97BDD6;
   }
}

.banyan-placeholder {
    border: dashed 2px #ccc;
}
